/* main container style */
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* page heading and para style */
.page_heading {
  font-size: 5rem;
  margin: 2rem auto;
  color: burlywood;
}
.page_para {
  font-size: 2rem;
  width: 70%;
  text-align: center;
  margin: 1rem auto 4rem auto;
}

/* text api heading container and inner style */
.heading_container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.innerheading_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.heading_content {
  margin: auto 1rem 15rem 1rem;
  width: 80%;
  font-family: Georgia;
  font-size: large;
  text-align: center;
  padding: 1rem;
}
.heading_content p {
  margin: 2rem auto;
  text-align: left;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
}
.heading_content h3 {
  color: rgb(255, 237, 77);
}
.heading_content h1 {
  background: linear-gradient(to right, #e7f0ec 0%, #5ed19f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* video container style */
.video_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 70%;
}
.inner_video_container{
  width:90%; 
}



